{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Staff Nurse Job Berkshire </h1>
  <div class="data-article" id="data-content">
    <p>
      Staff Nurse Job Berkshire Nurses Wanted Our client is an independent provider of residential and nursing care
      across the South East area. They now have a Staff Nurse Job in Berkshire . The nursing home is based in Berkshire
      and is a leading provider of dementia care. So ideally you will have experience of working within a dementia care
      setting. If you are looking for a new Staff Nurse Job role please apply today. You will need to be RGN or RMN
      qualified. Have a current UK NMC pin number. And have the right to work in the UK The salary offered is ********
      depending on experience. If you are interested in the position please click apply. If you feel that this role is
      not suitable you but are a nurse or residential/nursing home manager then please forward your CV as we may have
      other opportunities that may be suitable for you. Staff Nurse Job Berkshire.
    </p>
  </div>
</div>
{% endblock %} 