{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Accounts Payable Clerk </h1>
  <div class="data-article">
    <p id="data-content">
      A growing consultancy in Borough offers an exciting opportunity to a hungry Accounts Payable Clerk. Reporting to
      the Financial Controller, you will be responsible for the UK, Australia and US accounts payable function and play
      a pivotal, hands on role in supporting the Finance team. Duties will include; Credit card and expense management,
      inputting and processing supplier invoices onto Sage, preparing payment runs for authorisation, supplier statement
      reconciliations, and handling supplier queries professionally and efficiently. Please apply if you have Sage
      experience and at least 2 years accounts payable experience. (DO NOT apply if you do not have the requisite
      experience).
    </p>
  </div>
</div>
{% endblock %}