{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Events sales executive </h1>
  <div class="data-article" id="data-content">
    <p>
      Events Sales Executive Our client is one of the leading national Breakdown Company s in the UK and they have had
      continued growth throughout the last few years as well as an exciting business expansion plan. This now means that
      they are looking for a Events Sales Advisor to work in locations throughout the UK. If you are determined and
      driven sales consultants then this is the role for you. To be considered for the role you should be; A
      selfstarter, able to work on own initiative Possess excellent sales skills Customer service focused Able to
      generate own customers Have a current driving license and own vehicle Be able to build long lasting relationships
      with customers Organised and can plan daily activities to achieve targets Willing to learn and improve skills
      Strong business developer, able to close deals with customers face to face Willing to be creative and innovative
      in developing own skills and adding value to the company's growth plans We can offer a positive and supportive
      sales environment for applicants to work within. As well as a three day residential training course and all
      equipment to set up your own stand. Realistic earnings of between **** and **** per annum are achievable for
      applicants who can meet the requirements of the role. This is a selfemployed role If you are intersted please call
      Anna for a chat on **** **** **** or apply direct.
    </p>
  </div>
</div>
{% endblock %}