{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> EveryChild Street Fundraisers </h1>
  <div class="data-article" id="data-content">
    <p>
      Millions of children all over the world are separated from their families and communities whether orphaned,
      abandoned to the streets or into institutions, or forced through poverty into labour. Vulnerable and invisible,
      they are abused, exploited or forced to work in shocking conditions that we can barely imagine. EveryChild is an
      independent international charity that, for over ****0 years, has been protecting children separated from their
      families and communities, or at risk of being so. Around the world EveryChild rescues children from the streets,
      prevents them from entering institutional care and enforced domestic labour, helps protect them from abuse and
      violence, and reunites them, where possible, with their families and communities. We believe that every child has
      a right to grow up in a safe and secure family them a chance of a better life and the childhood they deserve. Help
      us to give children a better life We have been successfully running an in house F2F operation for the last three
      years and we are looking to launch a new Leeds team You will work within a team of 35 fundraisers to recruit new
      supporters on behalf of EveryChild in public locations across Leeds What we offer: Full time positions in either
      long or shortterm capacity **** pay per hour 6.5 hours per day, Monday to Friday Regular training sessions and
      workshops to develop your knowledge and skills Project and country talks with our office programme staff as well
      as direct contact with our overseas colleagues whenever possible. Weekly interaction with the office staff and
      skill sharing with your colleagues A dedicated, fun and friendly work environment What we are looking for in a
      fundraiser: Confident and cheerful communicators with excellent spoken English. Eagerness to learn more about
      international development and EveryChild's work Passion and enthusiasm to represent EveryChild's cause Reliability
      and professional attitude Team player Willingness to develop new skills to become a good facetoface fundraiser.
      Ability to work for at least two months Valid UK work visa Get in touch for an immediate start.
    </p>
  </div>
</div>
{% endblock %}