{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Online Marketing </h1>
  <div class="data-article">
    <p id="data-content">
      Online Marketing Coordinator Based in South Yorkshire/ North Nottinghamshire **** to **** Basic depending upon THE
      ROLE An exciting opportunity has arisen within a large online retailler for a Online Marketing Coordinator
      (Customer Acquisition) reporting into the Online Marketing Manager. The successful individual will be responsible
      for the planning, implementation, evaluation and development of online marketing activity including display, paid
      search (PPC), SEO and affiliate networks Responsibilities: To Identify, implement and evaluate online traffic
      programmes to deliver the multi channel sales and profit objectives. Use data to plan, implement, evaluate and
      develop the online marketing activity including display, PPC, SEO, affiliate networks and other channels where
      appropriate. Develop the product categories within the PPC/SEO programme to drive relevant search traffic to the
      website and mobile site. Manage a programme for optimising meta data, advising on website and mobile site
      structure and design in order to drive relevant traffic to the website and mobile site through search engines.
      Present weekly reports and monthly insight to all stakeholders showing the condition of the online acquisition
      programme and opportunities for improvement. THE PERSON The successful candidate will have the following
      attributes: A strong understanding of Google Adwords At least 3 years solid working on SEO/PPC Good working
      knowledge of affiliates, display and remarketing advertising Be an expert at analysing data and converting it into
      business reporting language Good understanding of business needs and awareness of commercial impacts Experience of
      working in ecommerce retail in a fast paced environment Experience of using Google Analytics to monitor trends and
      opportunities Excellent at effectively managing agency relationships The ability to work autonomously, have self
      drive and confidence to make recommendations to the business for development opportunities.
    </p>
  </div>
</div>
{% endblock %}