{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Technical Solutions Manager </h1>
  <div class="data-article" id="data-content">
    <p>
      Technical Solutions Manager Bristol **** **** About us EMO is an integrated communications agency working across
      all disciplines to deliver intelligence basedretail marketing support and solutions. We provide this service to an
      impressive list of clients including some of the best automotive brands in the world. We re a lively bunch with a
      diversity of knowledge and experience. We are all proud of our agency and passionate about what we do, and it
      shows every day, from planning through to delivery. About the role: Working with the Head of Creative Services
      this is a new and integral role, to plan, define, document and oversee the agency s Digital projects ensuring that
      they are delivered on time and on budget. You will be responsible for ensuring all projects are effectively
      resourced, using both internal teams and **** rd party providers, with the ability to brief external providers,
      ensuring high standards are maintained. The candidate: We are looking for someone who is passionate about and has
      a clear understanding of the latest digital technology and the difference it can make. You will be comfortable
      with new user interfaces such as gesture or image recognition, semantic web and mobile applications to name a few,
      and have experience with HTML5, Flash and realtime ****D. Your diversity of interest in new technologies should be
      apparent, as should your ability to explain, demonstrate and discuss innovative technologies with internal and
      external teams in nontechnical terms. Our ideal candidate may be an established Digital Project Manager , with a
      strong technical development background. You will be familiar with a .NET environment and have a good
      understanding of CMS systems, specifically Umbraco. Maybe you are a Lead Developer with a good understanding of
      frameworks, looking to lead a team? You will need to be comfortable with the financials, with clear technical
      expertise, and excellent communication skills. You will be working with a knowledgeable and expert team and should
      be able to lead by example. Apply now: If you are a strong leader, with proven digital project management
      experience, able to provide technical direction from definition phase through to implementation, and maintain an
      up to date awareness of new and emerging technologies, chances are you re just the person we are looking for. For
      an informal chat, in confidence, please get in touch. To apply for this role, please click on the 'Apply now'
      button.
    </p>
  </div>
</div>
{% endblock %}