{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Chef De Partie Michelin Restaurant </h1>
  <div class="data-article" id="data-content">
    <p>
      Chef De Partie Michelin Restaurant Are you a Chef de Partie that really wants to get into the world of fine
      dining? I have a great client that has recently reopened a restaurant with a new team and an excellent new Head
      Chef. Now he is looking for the right Chef de Partie to aid him in seeking further accolades such as a rosette and
      a Michelin star. Awarded a Michelin Bib Gourmand after a visit just 6 weeks into opening, this previously ****
      rosette Michelin star trained Head Chef requires an equally ambitious and talented Chef De Partie to join his
      brigade and make this dream a reality. Like all Chef de Partie positions this role is hard work, but unlike many
      it is also a lot of fun and probably quite a steep learning curve. In a rural area not far from Spalding, this
      restaurant is not a million miles from anywhere in the UK, and finding accommodation should not be an issue for
      the right Chef de Partie as rent prices etc. are quite cheap. With a healthy salary of **** for a Chef de Partie
      with the right experience, or at least **** for a Chef de Partie with less experience, but has the desire to learn
      and improve plus tips this is attractive even without the journey of accolade acquisition ahead. If you have NVQ
      (preferably ****) in professional cookery or similar, have proven to be a hard worker and really love your fresh
      food fine dining then there is no reason why you should not apply today. You may not live in the area, but is
      relocating really such a big deal nowadays? It's not like a Chef de Partie role like this pops up very often If
      you have the right to live and work in the UK, the correct attitude, enough skill and realise an opportunity of a
      lifetime is just one trial shift away then I want to hear from you. Send your CV including a brief note as to why
      you would like a Chef de Partie position like this in particular and if possible, some dates you could make it to
      the area for trial shift Email your CV today Salary ****tips Ref ****CW Consultant Chris Wilson Teamed up with
      Tara within our successful Recruitment Division. / **** **** We are honest, fast paced and truly passionate about
      Recruitment. Our Consultants are all highly valued by us and love their work. We look after our clients and really
      get to know them. If we talk to a client about you then its very likely they will interview you. Its simple, we
      aim to fit a square peg into a square hole rather than ramming you into a round one. So why not make contact,
      maybe take a job search at www.clearselection.co.uk and reap the benefits of working alongside us. Clear Selection
      Recruitment is part of the Clear Selection Group This job was originally posted as
      www.caterer.com/JobSeeking/ChefDePartieMichelinRestaurant_job****.
    </p>
  </div>
</div>
{% endblock %}