{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Chef de Partie High Quality MultiOutlet Hotel </h1>
  <div class="data-article">
    <p id="data-content">
      The role of Chef de Partie is available at a four star hotel located in Surrey Role: Working as a Chef de Partie
      at a high quality hotel you will be required to prepare dishes for the hotels AA accredited restaurant, lounge/
      bar, room service as well as the function rooms at the property which hold over **** weddings a year.As a result
      this is an interesting Chef de Partie role which will help you to further develop your all round kitchen skills as
      well as offering opportunities for promotion in order to build a successful career in a food focused environment.
      Requirements: A Chef de Partie who already has experience of cooking within a high quality, multioutlet hotel
      would be ideal for this role.A chef who enjoys cooking with all fresh food and has the ability to work on a number
      of sections in a kitchen where you will be under pressure is needed for this kitchen. Benefits Include: Uniform
      Provided Meals on Duty Company Benefits Will Help To Relocate Excellent Opportunities To Progress If you are
      interested in this position or would like information on the other positions we are recruiting for or any
      temporary assignments please send your CV by clicking on the 'apply now' button below and our consultant Sean
      Bosley will do his utmost to assist you in your search for employment. In line with the requirements of the Asylum
      Immigration Act **** all applicants must be eligible to live and work in the UK. Documented evidence of the
      eligibility will be required from candidates as part of the recruitment process. This job was originally posted as
      www.caterer.com/JobSeeking/ChefdePartieHighQualityMultiOutletHotelVolumeCooking_job****.
    </p>
  </div>
</div>
{% endblock %}