{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Leisure Spa & Golf Manager </h1>
  <div class="data-article">
    <p id="data-content">
      Leisure Spa Golf Manager Beautiful Hotel Spa Location: North Yorkshire Salary: ****K Excellent Company Benefits We
      are currently looking for an experienced Leisure Spa Golf Manager for this beautiful hotel, spa and golf club
      situated in North Yorkshire. As Leisure Spa Golf Manager you will be responsible for the day to day running of the
      leisure facilities including beautiful spa, **** hole golf course and gym. The leisure club manager will be in
      charge of a large team, mentoring, develop, train and motivate to ensure the team are performing at the hotels
      highest standard and hitting departmental KPI's You will oversee the golf facilities to make sure that every game
      is a success every time and that the course is clean and well maintained. you will also be in charge of membership
      for both golf and gym facilities and retaining existing customers. The Leisure, Spa Golf Manager will have a
      minimum of 3 years management experience with in a similar large property, have REPS Level 3, Pool Plant
      Qualification and First Aid. Ref: ****JG Consultant James We are honest, fast paced and truly passionate about
      Recruitment. Our Consultants are all highly valued by us and love their work. We look after our clients and really
      get to know them. If we talk to a client about you then its very likely they will interview you. Its simple, we
      aim to fit a square peg into a square hole rather than ramming you into a round one. So why not make contact,
      maybe take a job search at www.clearselection.co.uk and reap the benefits of working alongside us. Clear Selection
      Spa and Leisure is part of the Clear Selection Group This job was originally posted as
      www.caterer.com/JobSeeking/LeisureSpaGolfManagerBeautifulHotelSpa_job****.
    </p>
  </div>
</div>
{% endblock %}