{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Consultant Clinical Psychologist Job Norwich </h1>
  <div class="data-article">
    <p id="data-content">
      Consultant Clinical Psychologist Job Norwich Clinical Psychologists needed – all levels UK Healthcare
      Professionals are pleased to be recruiting on behalf of one of the UK’s leading healthcare providers in mental
      health care. Our client is looking for Consultant Clinical Psychologists to work within their low/medium secure
      unit for adults who have a personality disorder, learning disability or autistic spectrum disorder in Norwich .
      Attitude and motivation is every bit as important as skills and experience. We are also looking for newly
      qualified clinical psychologists and a Head of Department. The Consultant Clinical Psychologist Job role: •To be
      responsible for the delivery of psychological assessment and treatment to patients. To provide supervision and
      teaching opportunities within areas of competence and to undertake relevant clinical research. •Contribute to the
      assessment of newly admitted patients, the formulation of patient treatment needs and the provision of
      psychological treatment programmes. •Assist with the monitoring and review of the unit’s behavioural support
      programme and to ensure that staff have an adequate understanding of cognitive behavioural principles. •Provide
      timely reports for patient reviews. •Contribute to the development of inservice and other training programmes.
      •Supervise Assistant Psychologists (including staff assessment process) and any trainee Clinical Psychologist
      attached to the service. •Maintain any records necessary for the evaluation of service needs and efficiency.
      •Undertake research relevant to the assessment of patients needs and the development and evaluation of
      interventions. •Take personal responsibility for ensuring that appropriate security procedures are adhered to at
      all times and that risks are continuously assessed and managed. This includes the safe management of keys, locked
      areas, resources and for following procedures that are set out in the Unit Policy and Procedure Manuals.
      Professional: The post holder will: •Be competent in the performance of professional procedures and practices,
      bringing to the immediate attention of the Unit Manager any variations in these practices. •Work in such a way as
      to ensure a positive and cooperative relationship with the multidisciplinary team and visitors. •Develop
      professional skills and competencies which will enhance the quality of the service being delivered. •Have an
      understanding of the 1983 Mental Health Act and registration requirements for the unit. To work within the
      requirements of these. •Ensure that clinical practice complies with codes of practice and guidelines endorsed by
      professional bodies such as the BPS Division of Clinical Psychology, British Association for Behavioural
      Psychotherapy and the Mental Health Act Commission. Previous experience with this client group and/or challenging
      behaviour is essential. For more information please forward your CV.
    </p>
  </div>
</div>
{% endblock %}