{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> IDTS Nurse Job Norwich </h1>
  <div class="data-article">
    <p id="data-content">
      IDTS Nurse Job Norwich The post holder will need to be already working within substance misuse and understand
      prison environment and also the Integrated Drug Treatment System. The position is a newly created position with a
      new contract that needs someone with excellent man management skills and understands change and how it can impact
      on a team. For further information on the position and a confidential chat please click apply.
    </p>
  </div>
</div>
{% endblock %}