{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Support Worker Job Abergavenny </h1>
  <div class="data-article">
    <p id="data-content">
      Support Worker Job Abergavenny We are a leading provider of social care services. If you are interested in a
      Support Worker Job Abergavenny please apply today. For over 16 years we have provided domiciliary care. Offering
      support, encouragement, help and guidance for a wide range of people to maintain their independence and enhance
      their lives. Based in Cwmbran, we have an established and rapidly growing branch. We are now looking for Support
      Worker Job seekers in Abergavenny . We need people, like you, who enjoy a challenge and have a real passion and
      commitment for helping others. Whether new to care or already experienced we would like to hear from you. Support
      Worker Job Abergavenny Role Overview Support Worker duties will include providing personal care & domestic support
      to people within their own homes in line with designed care packages. It is advantageous if you have your own
      transport and you need to state this on your CV. We provide a comprehensive training program with a wealth of
      learning opportunities that will equip you with the skills and confidence to be the best you can. Benefits
      include: Free uniforms and protective equipment Mileage allowance covering your complete journey Access to free
      NVQ training after 6 months 5.6 weeks per annum (pro rata of the hours you work) of paid leave including bank
      holidays Access to invest in a stakeholder pension scheme Recommend a friend scheme Pay role monthly prize draw
      Access to the Employee’s Saving Club Full and parttime hours available, including evenings and weekends. A full
      job description and information pack are available Successful applicants will be required to provide an enhanced
      CRB. Expense will be met by applicant and employer. Q Care Limited are an equal opportunities employer
      applicaitons are welcome from all sectors of the community as we aim to recruit a diverse workforce that reflects
      the people we serve Support Worker Job Abergavenny.
    </p>
  </div>
</div>
{% endblock %}