{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Deep Hole Borer </h1>
  <div class="data-article" id="data-content">
    <p>
      Deephole Borer Permanent daysSheffield **** **** per hour overtime bonusA vastly expanding Sheffield based
      manufacturing/engineering company are looking to recruit a Deephole borer for a permanent days only position with
      a payrate of **** **** per hour. Overtime is available and there is an excellent bonus structure in place.Duties
      include: Machining medium sized components for the oil and gas industry up to 6m in length. Deephole boring 2 offs
      to 20 off on components with typically rough and finish boring.Applicants must have excellent deephole boring
      experience with the ability to set their own heads and machines, and ideally have an apprenticeship, modern
      training programme or equivalent.The payrate will be around **** **** per hour (dependant on skills) plus overtime
      at excellent rates, a profit related bonus structure and 30 days holidays per year including bank holidays.
    </p>
  </div>
</div>
{% endblock %}