{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Fitter </h1>
  <div class="data-article" id="data-content">
    <p>
      Our client is privately owned and have been a market leader in their industry for over 100 years.You will be
      working on rotating machinery and gearboxes,operating a dynamic balancing machine and involved with general
      repair,machine building and refurb of machines. Any machining skills,fettling,drilling or drilling experience
      would be beneficial. Working day shift but may have to work nights future forwards.This is a temp to perm
      position.
    </p>
  </div>
</div>
{% endblock %}