{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Modelling and simulation analyst </h1>
  <div class="data-article">
    <p id="data-content">
      Mathematical Modeller / Simulation Analyst / Operational Analyst Basingstoke, Hampshire Up to ****K AAE pension
      contribution, private medical and dental The opportunity Our client is an independent consultancy firm which has
      an opportunity for a Data Analyst with 35 years experience. The role will require the successful candidate to
      demonstrate their ability to analyse a problem and arrive at a solution, with varying levels of data being
      available. Essential skills Thorough knowledge of Excel and proven ability to utilise this to create powerful
      decision support models Experience in Modelling and Simulation Techniques, Experience of techniques such as
      Discrete Event Simulation and/or SD modelling Mathematical/scientific background minimum degree qualified Proven
      analytical and problem solving skills Self Starter Ability to develop solid working relationships In addition to
      formal qualifications and experience, the successful candidate will require excellent written and verbal
      communication skills, be energetic, enterprising and have a determination to succeed. They will be required to
      build solid working relationships, both internally with colleagues and, most importantly, externally with our
      clients. They must be comfortable working independently to deliver against challenging client demands. The offices
      are located in Basingstoke, Hampshire, but our client work for clients worldwide. The successful candidate must
      therefore be prepared to undertake work at client sites for short periods of time. Physics, Mathematics,
      Modelling, Simulation, Analytical, Operational Research, Mathematical Modelling Mathematical Modeller / Simulation
      Analyst / Operational Analyst Basingstoke, Hampshire ****K AAE pension contribution, private medical and dental
    </p>
  </div>
</div>
{% endblock %}