{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Senior Control and Instrumentation Engineer </h1>
  <div class="data-article">
    <p id="data-content">
      Senior Control and Instrumentation Engineer . Reading, Berkshire. experienced C Senior Control and Instrumentation
      Engineer. Essential Degree (or equivalent) in Electrical, Electronic or Control and Instrumentation Engineering or
      other relevant discipline. Chartered Engineer. Able to demonstrate sound technical experience. A sufficient and
      appropriate level of building services and controls experience gained within a client organisation, engineering
      consultancy or equipment supplier. Project management, including controls, planning and estimating and preparation
      of deliverable/work package. Desirable Working within a multidiscipline engineering team and having a general
      appreciation of other disciplines constraints and requirements. Nuclear safety case issues and NII site licence
      conditions. Building management systems. Fire detection and alarms. Telecoms. UPS. Experience of the nuclear
      industry. Experience of IEE Wiring Regulations 17th edition BS**** Experience of transmission (****kV) electrical
      plant and configuration design. Experience of distribution (up to ****kV) electrical plant and configuration
      design. Experience of protection and control design at Transmission and Distribution voltages. The Individual A
      confident and professional manner. Excellent communication skills. Ability to use initiative and demonstrate
      creativity. Self motivated and committed to further study. Ability to work within a team. Responsibilities Senior
      Controls and Instrumentation Engineer Responsible for managing the control and instrumentation, and potentially
      electrical, design aspects of substation refurbishment/rekit projects and leading electrical/control aspects of
      major infrastructure projects from system studies and investment appraisals through to detailed design Act as
      Project Manager on design projects or on electrical, control and instrumentation aspects of multidisciplinary
      utilities infrastructure design projects. Mentoring and technical development of a team of junior engineers. Lead
      on the production of major bids. Cost and time control and reporting. Liaison with clients, suppliers and
      contractors. Specification, selection and justification of relevant equipment. Generation of Front End Engineering
      Design packages. Relevant equipment assessment and justification reports. Production of Commissioning Procedures.
      Production of Technical Specifications. Control Panel/Room Layout Reliability Assessment and C Reading, Berkshire
    </p>
  </div>
</div>
{% endblock %}