{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Senior Manufacturing Engineer </h1>
  <div class="data-article">
    <p id="data-content">
      Senior Manufacturing Engineer Our client is looking for a Senior Manufacturing Engineer to join their expanding
      team. As well as leading your own projects to successful delivery, you will be expected to provide Technical
      Governance to other projects to ensure that we continue to deliver to our high standards. You will develop
      relationships with existing and prospective clients, support bidding activities and develop work packages from
      customer requirements in order to grow our Manufacturing Engineering business. Additionally you will help lead the
      development of the Manufacturing Engineering capability in the Defence business, ensuring the technical
      development of our staff whilst carrying out strategic recruitment to meet future project requirements. Successful
      candidates will be required to undergo a security vetting process and offers of employment will be subject to
      security clearance being granted. Applicants for this position must have the right to work in the UK without
      restriction. Requirements The successful candidate will have a proven track record of pursuing new opportunities
      whilst ensuring the quality of ongoing delivery and be able to give in depth examples of applying a range of
      Manufacturing Engineering people and business management skills. Applicants will be expected to demonstrate
      delivery of multiple projects across all aspects of Manufacturing Engineering; Process Improvement, Capability
      Acquisition and New Product Introduction. Qualifications Degreequalified or equivalent in Manufacturing
      Engineering Chartered Engineer Essential Criteria Business management experience Excellent verbal and written
      communication skills Experienced in leading and developing more junior engineers Experience of developing and
      managing client relationships A proven track record of preparing successful proposals Project management including
      identification and mitigation of project risk and Change Management Extensive understanding of application of six
      sigma Extensive and detailed knowledge of a range of manufacturing and measurement processes around metallic
      structures, applicability to new designs, benefits and limitations. Particular expertise will need to be
      demonstrated on Welding, Forging, Machining and NDE in safety critical systems Delivery of projects in a high
      integrity environment (Aerospace, Nuclear etc) Willing to travel within the UK and Overseas Desirable Criteria
      Experience of pressure vessel and pipe work manufacture and inspection Knowledge of ASME codes Ideally you will
      have a background in the defence industry but we will also consider experience in other heavily regulated
      industries Senior Manufacturing Engineer Location: Derby Salary: **** to **** Industry: Aerospace, Defence,
      Nuclear, Oil and Gas
    </p>
  </div>
</div>
{% endblock %}