{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Commercial Finance Analyst </h1>
  <div class="data-article" id="data-content">
    <p>
      Our client, has an unrivalled opportunity for a commercially astute part qualified accountant to join their highly
      sought after, talent scheme based at their hugely impressive UK Headquarters in Bedfordshire. The successful
      applicant will gain exposure working in a true finance business partner capacity, working with nonfinance
      stakeholders. You will be required to liaise, influence and build relationships at director level and will gain
      unparalleled exposure in this capacity. Responsibilities will include: development of retail pricing and ensuring
      the process is coordinated with all key stakeholders; developing effective pricing strategies to support retail
      stores and develop optimum selling price; working with commercial teams to understand customer profiles to make
      accurate decisions within the pricing proposal; producing and presenting at senior management / director level
      using PowerPoint to clearly demonstrate your findings and to provide reassurance that pricing proposals are
      financially sound and accurate. The successful candidate will ideally be of graduate calibre, CIMA / ACCA part
      qualified, with an excellent record of achievement. Your experience to date will be gained working with a large
      company environment. You will be an outgoing and confident individual, a first class communicator and have the
      ambition to reach Senior Manager level. The successful candidate will be rewarded with excellent benefits, onsite
      restaurant, superb social and out of work activities and the tools and training to succeed at the highest level.
      Where UK qualifications are specified we will take into account overseas equivalents. To apply for this position
      candidates must be eligible to work in country in which the role is based. We regret that due to the high volume
      of applications we receive if you have not heard from us within 10 days, then your application has not been
      successful on this occasion. However, please do continue to apply for jobs advertised by CMC Consulting. For all
      our current vacancies please visit our website http://www.cmcconsulting.co.uk We do our best to ensure that the
      wording used in our job vacancies does not discriminate against an individual in any way. Please contact us if you
      feel that this is not the case.
    </p>
  </div>
</div>
{% endblock %}