{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Credit Controller </h1>
  <div class="data-article">
    <p id="data-content">
      An exciting job opportunity has arisen to work in a Management Consultancy in the City of London. They are looking
      to add a permanent Finance Assistant to join their team. The successful candidate will come on board to support
      the Finance Manager. The successful candidate will have a strong working knowledge of Sage Line **** 3 years
      experience in a varied finance position and advanced Excel skills. If you feel you have the relevant experience,
      then please apply.
    </p>
  </div>
</div>
{% endblock %}