{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Risk Manager </h1>
  <div class="data-article" id="data-content">
    <p>
      The Risk Assessment team works as part of the Hub that provides the following services: Governance, Policy &
      Control responsible for defining and maintaining the risk framework and model for how the technology risk function
      operates. This includes liaison with Group Risk functions and policy governance. Risk Assessment supports
      technology risk assessment and SarbanesOxley compliance across Client's Group by working in collaboration with IT
      management to help them manage their risks. Risk Validation undertakes proactive reviews of technology with
      particular focus on significant control issues, project risk and conformance with technology risk policy. Audit
      Engagement responsible for managing the interaction between technology and internal/external audit. Acts as a
      liaison point for the Spoke risk teams to ensure a consistent engagement model. Systems and Delivery responsible
      for providing the technology solutions that support the risk function in delivering its services and supporting
      processes through automated tools. Key Accountabilities Provide support to Technology staff and senior management
      in the creation of Technology focused Risk and Control Assessments, ensuring accurate and efficient
      capture/reporting of the risk status. Support the SarbanesOxley IT compliance programme across the global bank in
      all locations. Support effective RCA remediation action management to improve the overall Technology control
      environment. Support the maintenance of the Technology Risk Framework and Risk and Control Assessment toolset.
      Provide Risk Management expertise to the CIO Organisation, encouraging a proactive approach. Provide guidance and
      support to Technology teams involved in Regulatory, Compliance and Audit reviews. Support the SarbanesOxley IT
      programme, including: advising Technology teams on SOx control execution. Perform independent quality assurance
      reviews of SOx controls including General Computer Controls and the technology component of automated Business
      Controls. Provide guidance on SOx testing process improvements to senior technology management. Support project
      teams through the design and documentation of controls for changes affecting SOx applicable systems. Produce and
      communicate complex MI to provide senior stakeholders and central business teams with a view of technology SOx
      controls, gaps and action plan progress. Work with Technology teams to deliver Technology Risk and Control
      Assessments Work with key stakeholders to determine appropriate risk and controls coverage for RCAs, meeting the
      requirements of Group policy and stakeholder expectations. Work with RCA assessors to identify control gaps and
      agree remediation. Work with Technology, Internal & External Audit to deliver an effective, efficient, fit for
      purpose process limiting Technology risk impact to the CIO Organisation and thereby improving the overall
      effectiveness of the IT Control Environment. Person Specification Relevant professional qualification
      (ITIL,CISA/QiCA preferred) Experience Required: Understanding of risks and controls within a Technology
      environment Ability to assess, quantify, and effectively communicate risks Risk assessment and implementation of
      remediation in both the application and infrastructure disciplines Experience in management and delivery of change
      projects Awareness of relevant industry Regulators and experience in dealing with Regulatory requests Relationship
      building/maintenance across Technology Management and teams Experience in SarbanesOxley programs including
      assessment of Technology controls and remediation implementation. Experience Preferred IT process improvement
      Financial Institutions Technology experience including experience within Investment Banking IT Audit experience
      beneficial. About Hudson IT Hudson IT serves as a trusted resource for clients seeking highquality technology
      professionals and IT solutions. We seek consultants and direct candidates with diverse skills and industry
      experience from Java developers in financial services to Epic consultants in healthcare. From instructional
      designers to QA experts and everyone in between, we attract the best and the brightest talent in the industry,
      matching your skills and personality to our clients' specific requirements. Known for our exceptional service,
      Hudson IT has been recognized in the top 1% of staffing firms for client and candidate satisfaction three years
      running. Hudson is an Equal Opportunity Employer. We participate in the EVerify program as allowed under federal
      and state law and in accordance with our executed Memorandum of Understanding with the Department of Homeland
      Security.
    </p>
  </div>
</div>
{% endblock %}