{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Sales Opportunities </h1>
  <div class="data-article" id="data-content">
    <p>
      A well known data provider is looking for **** sales professionals to reinforce their sales team; this is a
      growing business that is globally recognised for the quality of its products. They are looking for a Regional
      Sales Manager, mainly looking at growing new business, and a Key Account Manager, handling the existing clients
      long sales cycles. You will need to take on board marketing strategies as well as sit down and discuss ideas on
      how improvements can be made; an enthusiasm for sales and business development is important, showing intent to
      really progress a career in this type of environment. As you will be handling clients globally it would be a real
      advantage being able to speak at least one other language to a business competency; you must also be willing and
      interested in travelling up to 90 days per year with the remaining generally office based. Requirements: Qualified
      to Degree level Proven Selling ability Understanding of ebusiness Being able to work with minimal supervision Able
      to build strong relationships with clients via telephone, email, and face to face Salary is as advertised with a
      base of ****OTE. TFPL operates as both an employment agency and an employment business. If you do not hear back
      from us within **** working days, then unfortunately your application has been unsuccessful.
    </p>
  </div>
</div>
{% endblock %}