{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Senior Website Designer </h1>
  <div class="data-article">
    <p id="data-content">
      SENIOR WEBSITE DESIGNER Location: York, East Yorkshire Type: Permanent Salary: up to ****K (DOE) One of UK s most
      renowned digital media company is looking to hire a Senior Website Designer to join their team of designers. The
      successful candidate will be responsible for designing ecommerce websites, developing client strategy with the
      creative director and in assisting in the development of design. Requirements: 3 years solid experience in
      ecommerce website design Knowledge in Information Architecture process Must have an understanding of MVT Adobe
      Suite knowledge also required Prior experience of working in an agency environment will be an advantage but not
      essential Don t miss this great and exciting opportunity to work for a leading digital media company. Send your CV
      now.

    </p>
  </div>
</div>
{% endblock %}