{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Business Development Manager </h1>
  <div class="data-article" id="data-content">
    <p>
      The Company: Our client are a full service, creative driven, brand & digital communications agency based in
      Newcastle upon Tyne, specialising in on and offline brand communications and applications. Due to an ever
      increasing client portfolio and ambition to continue their growth, they are looking for a Business Development
      Manager. The Role: Reporting to the Managing Director, the Business Development Manager will be responsible for
      developing new design and digital business throughout the UK. Responsibilities include: Developing new business
      throughout the UK. Research and identify potential clients. Create and maintain good working relationships with
      key decision makers and influencers of potential clients. Make proactive outbound calls and emails to contact
      prospective clients. Maximise each sales opportunity. Attend industry events and networking events representing
      the company. Present to potential clients over the phone or face to face. The Individual: Will have a proven track
      record in business to business sales, ideally within a related field. Must be a good negotiator who can close a
      deal. Will have strong communication skills. Should have excellent time management and organisational skills.
      Ideally be self motivated individual who can motivate others. Must be commercially aware and financially
      motivated. Must possess good account management skills, be able to maintain relationships as well as develop them.
    </p>
  </div>
</div>
{% endblock %}