{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Web Developer </h1>
  <div class="data-article">
    <p id="data-content">
      A leading ecommerce agency is looking to hire a Web Developer to join their team of eCommerce Developers. The role
      will involve working on different types of client and a candidate should have the ability to create and implement
      unique, engaging, and intuitive work to meet client requirements. Requirements: 34 years of experience in web
      development **** or more years on eCommerce projects in an agency setting Development skills in the following
      technologies: o ASP.net and ASP o VB and VB.net o SQL Server / TSQL o COM/DCOM o XML, HTML o Javascript Knowledge
      of Microsoft Commerce Server, any other eCommerce solutions If this sounds like a challenge that you are ready to
      take up, send in your CV now.
    </p>
  </div>
</div>
{% endblock %}