{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Customer Retention Advisor </h1>
  <div class="data-article" id="data-content">
    <p>
      Our client is the market leaders in their field, selling products into the Business Services sector. They sell
      water coolers along with a number of other services into large and small companies, covering all sectors of
      business, education, leisure and health. This position is an internal, telephone based role of critical importance
      to the business. This is a challenging role and requires the job holder to demonstrate a calm and helpful nature
      to retain business from customers who might be dissatisfied or want to terminate their contracts. Essentially the
      challenge is to turnaround customers requesting to cancel their contracts by providing exceptional customer
      service skills and handing customer objections with the aim of offering an appropriate solution and extend term.
      Existing team members are very successful and customer retention rates are high. This is because the product is
      the best on the market and our staff are highly trained to help existing customers see that contract renewal is by
      far the best option. Our staff take time to understand the customers needs through careful questioning and
      listening skills and will offer the best options to suit their requirements. Skilled operators usually end up with
      very satisfied customers who often buy additional products as a result. Turning around a dissatisfied customer can
      be enormously satisfying. There are however occasions of frustration which need to be managed professionally.
      Candidates will need to have excellent customer service and sales experience, be target orientated and have a
      confident telephone manner. This role will also involve upselling and cross selling, renewals, new business,
      empathy, a good use of initiative, ownership of cancellation cases and strong negotiation skills. Ideally
      candidate will have worked in a customer retention role before but this is not essential. Candidates must possess:
      customer service and admin skills sales experience which is target orientated and competitive experience in
      handling complaints confident telephone manner The successful candidate will join a team of 10 busy enthusiastic
      colleagues. The atmosphere is good with a positive culture. Candidates with high energy who want to succeed will
      be best suited to this role. The office is based close to Hayes high street and main line station Salary of ****
      plus uncapped commission. Realistically you should look to earn in the region of **** per month commission but
      there is potential for a skilled sales person to earn more. Interested? Think you have Sales AND Customer care
      skills? Send your CV to us.
    </p>
  </div>
</div>
{% endblock %}