{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Hospital Contracts Manager </h1>
  <div class="data-article" id="data-content">
    <p>
      HOSPITAL CONTRACTS MANAGER, Phamaceutical products, c**** Neg. Car Cumbria ****/****/dh HOSPITAL CONTRACTS
      MANAGER, Pharmaceutical: Primary Function: Responsible for maintenance of Pharmaceutical Brands & generation of
      new business Developing Key Advocates for business. Territory covers Cumbria, Northe East, Norther Ireland,
      Scotland HOSPITAL CONTRACTS MANAGER, Pharmaceutical: Key responsibilities: Manage priority accounts to deliver
      agreed sales & profitability targets. Work with National Sales Manager, Regional Sales Managers,Account Management
      Teams to target & drive new business Identify key decision makers & stakeholders to ensure Tender outcomes
      Responsible for Tendering process for all prioritised accounts HOSPITAL CONTRACT MANAGER, Pharmaceutical:
      Qualifications, Experience required: Healthcare Sales experience Experience of Tenering procurement processes
      Experience at Key Opinion Leader level Life Science Degree or equivalent desireable.
    </p>
  </div>
</div>
{% endblock %}