{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> IT Telesales </h1>
  <div class="data-article" id="data-content">
    <p>
      TELESALES ACCOUNT MANAGER BASIC **** ****k OTE Year **** Uncapped An exceptional opportunity for a great Telesales
      / Telemarketing Account Manager to excel in a B2B sales environment where you can control your own earnings with
      an uncapped commission structure. Established in 2003, this fast growing company provides a one stop shop for all
      the essential elements that every business needs. From PCs and Laptops through to Servers A significant and
      demonstrable track record in B2B sales (preferably including IT Sales, Telesales, Telemarketing and proactive
      Account Management) preferably within the IT/Office Consumables/Office Furniture arena Computer literate;
      Commercially aware; Excellent interpersonal skills with the ability to build relationships and rapport with a wide
      variety of people; Excellent communication skills with the ability to question, listen and present effectively;
      Results driven and tenacious; Confident and enthusiastic. Code Blue Recruitment handle nearly **** LIVE VACANCIES,
      for all sectors and levels of the Recruitment industry across the whole of the UK . Positions include Junior and
      Trainee Consultants, Recruitment and Senior Recruitment Consultants, Team Leaders, Account Managers, Branch
      Managers, Sales Managers & Directors. Sectors covered include Professional Recruitment such as Finance,
      Accountancy & Banking, Legal & HR, Commercial markets such as Office Support, Industrial, Driving, Oil & Gas,
      Hospitality & Catering, the Public Sector including Medical, Care, Education, Technical markets such as I.T.,
      Telecoms, Media, Construction, Engineering, Energy & Environment, and Pharmaceutical, as well as diverse areas
      such as Sales Recruitment, Search, and Supply Chain.
    </p>
  </div>
</div>
{% endblock %}