{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Sales Negotiator Birmingham </h1>
  <div class="data-article" id="data-content">
    <p>
      Are you a successful, results driven person? Are you looking to start a career in Estate Agency? Are you looking
      for a fast paced, dynamic working environment? Our client is a multi award winning, National Estate Agency chain
      with an outstanding reputation for customer service. With a network of over **** branches across the country, the
      company has risen to become one of the largest and most successful Estate Agency groups in the UK. As Sales
      Negotiator, you will work closely with your team to learn and develop whilst achieving shared goals. In addition
      to this; You will have the determination to succeed in the Estate Agent market. You will be capable of working
      effectively under pressure and in a target orientated environment. You will have the ability to successfully
      achieve set targets. You will be able to evaluate business at every opportunity. The company will offer a
      fantastic training programme all within a supportive, team working environment. Achievable progression thresholds
      are put in place with excellent earning potential. With a track record of successful sales abilities, preferably
      within an Estate Agency setting, suitable candidates will have: A drive and enthusiasm to work within the Estate
      Agency market The ability to qualify applicants to advise on their purchasing abilities Excellent communication
      skills A professional and friendly approach Refined numerate abilities and an attention to detail A driving
      licence/own car Excellent computing skills You must be a self motivated, driven individual with the ability to be
      proactive with your own learning and development. You will have the ability to work successfully within a team
      whilst managing your own, individual work load. Organisational skills and a will to succeed are also a must.
    </p>
  </div>
</div>
{% endblock %}