{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Sales Engineer </h1>
  <div class="data-article" id="data-content">
    <p>
      Europe s leading manufacturer of electrical/electronic interconnection and control solutions products seeks
      dynamic, technically astute Sales Engineer to manage and develop a customer base in North Yorkshire. Selling to
      both the building services and process automation markets, directly to endusers and via a distribution network
      this position provides a fantastic opportunity for a technically qualified professional to progress their career
      in a dynamic, well rewarded financially secure environment. This position would suit an ambitious Electrical or
      Electronic Engineer looking to pursue a career in Field sales within a growing, financially stable and people
      orientated company. Ideally you will possess an appropriate qualification and have spent some time in a handson
      engineering capacity. Essentially you will be a pro active, self motivated character with well developed
      communication skills and the desire to succeed in a technical sales role. Salary to **** plus bonus and cararied
      finance position and advanced Excel skills. If you feel you have the relevant experience,
      then please apply.
    </p>
  </div>
</div>
{% endblock %}