{% extends "base.html" %}

{% block links %}
<a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div id="category">
      <h2><span>Accounting Finance</span></h2>

      <div id="card">
        <h3><a id="link-1" href="#"> </a></h3>
        <p id="data-embed-1"> </p>
      </div>

      <div id="card">
        <h3><a id="link-2" href="#"> </a></h3>
        <p id="data-embed-2"> </p>
      </div>

    </div>

    <div id="category">
      <h2><span>Engineering</span></h2>

      <div id="card">
        <h3><a id="link-3" href="#"> </a></h3>
        <p id="data-embed-3"> </p>
      </div>

      <div id="card">
        <h3><a id="link-4" href="#"> </a></h3>
        <p id="data-embed-4"> </p>
      </div>

    </div>
    <div id="category">
      <h2><span>Healthcare Nursing</span></h2>

      <div id="card">
        <h3><a id="link-5" href="#"> </a></h3>
        <p id="data-embed-5"> </p>
      </div>
      <div id="card">
        <h3><a id="link-6" href="#"> </a></h3>
        <p id="data-embed-6"> </p>
      </div>
    </div>
    <div id="category">
      <h2><span>Hospitality Catering</span></h2>

      <div id="card">
        <h3><a id="link-7" href="#"> </a></h3>
        <p id="data-embed-7"> </p>
      </div>
      <div id="card">
        <h3><a id="link-8" href="#"> </a></h3>
        <p id="data-embed-8"> </p>
      </div>

    </div>
    <div id="category">
      <h2><span>IT</span></h2>

      <div id="card">
        <h3><a id="link-9" href="#"> </a></h3>
        <p id="data-embed-9"> </p>
      </div>

      <div id="card">
        <h3><a id="link-10" href="#"> </a></h3>
        <p id="data-embed-10"> </p>
      </div>

    </div>
    <div id="category">
      <h2><span>Sales</span></h2>

      <div id="card">
        <h3><a id="link-11" href="#"> </a></h3>
        <p id="data-embed-11"> </p>
      </div>

      <div id="card">
        <h3><a id="link-12" href="#"> </a></h3>
        <p id="data-embed-12"> </p>
      </div>

    </div>
    <div id="category">
      <h2><span>Teaching</span></h2>

      <div id="card">
        <h3><a id="link-13" href="#"> </a></h3>
        <p id="data-embed-13"> </p>
      </div>

      <div id="card">
        <h3><a id="link-14" href="#"> </a></h3>
        <p id="data-embed-14"> </p>
      </div>

    </div>


  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {

    $.each([
      "{{ url_for('article', folder='Accounting_Finance', filename='commercial_finance_analyst') }}",
      "{{ url_for('article', folder='Accounting_Finance', filename='credit_controller') }}",
      "{{ url_for('article', folder='Engineering', filename='deep_hole_borer') }}",
      "{{ url_for('article', folder='Engineering', filename='modelling_and_simulation_analyst') }}",
      "{{ url_for('article', folder='Healthcare_Nursing', filename='consultant_clinical_psychologist_job_norwich') }}",
      "{{ url_for('article', folder='Healthcare_Nursing', filename='deputy_nursing_home_manager_job_southampton') }}",
      "{{ url_for('article', folder='Hospitality_Catering', filename='chef_de_partie _all_round_skills') }}",
      "{{ url_for('article', folder='Hospitality_Catering', filename='chef_de_partie_high_quality_multiOutlet_hotel') }}",
      "{{ url_for('article', folder='IT', filename='business_development_manager') }}",
      "{{ url_for('article', folder='IT', filename='qa_engineer') }}",
      "{{ url_for('article', folder='PR_Advertising_Marketing', filename='accounts_payable_clerk') }}",
      "{{ url_for('article', folder='PR_Advertising_Marketing', filename='events_sales_executive') }}",
      "{{ url_for('article', folder='Sales', filename='customer_retention_advisor') }}",
      "{{ url_for('article', folder='Sales', filename='hospital_contracts_manager') }}",
      "{{ url_for('article', folder='Teaching', filename='ks4_teacher') }}",
      "{{ url_for('article', folder='Teaching', filename='primary_teachers') }}",
    ], function (i, a) {
      $.get(a, function (data) {

        var shortened = $(data).find('#data-content').text().substring(0, 400);
        var title = $(data).find('#data-title').text();

        // Embed data into the homepage
        $("#data-embed-" + String(i + 1)).text(shortened + '...');
        $("#link-" + String(i + 1)).text(title);
      });
      $("#link-" + String(i + 1)).attr("href", a)
    });
  });
</script>
{% endblock %}