{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> KS$ Teacher </h1>
  <div class="data-article">
    <p id="data-content">
      Our client, an SEBD school in Clacton on Sea, Essex, requires a Key Stage **** Teacher. This is a general teaching
      post so no subject specialism is required. The teacher must have experience working with pupils SEBD. Objectives
      of post To deliver and manage a high quality learning programme to pupils, most of whom have SEBD and have been
      excluded from mainstream education or are nonattenders Teachers are responsible for high quality teaching and
      learning. Delivering lessons according to an agreed timetable. Differentiating the National Curriculum to meet the
      needs of pupils who have SEBD and have been excluded from or who are nonattenders of mainstream education and
      devising Individual Education Plans to reflect their development needs. Devising schemes of work, lessons plans
      and curriculum projects to meet the above. The successful candidate must have: Previous experience with SEBD
      pupils at KS**** Qualified Teacher Status (QTS) An enhanced CRB check is also required for this position. ks4 ebd
      sebd besd sen teacher qualified qts pgce.
    </p>
  </div>
</div>
{% endblock %}