{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Primary Teachers </h1>
  <div class="data-article" id="data-content">
    <p>
      Are you a qualified/newly qualified teacher looking for supply work in and around South Yorkshire? Do you want a
      new challenge with varied work, flexibility and great rates of pay? If so, Vision for Education can help We are
      currently looking for enthusiastic and dedicated KS**** and KS**** Primary Teachers for a number of schools across
      the area. Candidates must have an enthusiasm for teaching, a good knowledge of the national curriculum and
      excellent classroom and behaviour management skills. It is essential that you hold a valid, recognised teaching
      qualification and ideally you will have 6 weeks recent experience of teaching in the UK. We must also be able to
      contact your past school to obtain a reference. Vision for Education was started in **** by a group of like minded
      individuals with a desire for providing a quality service to customers. Our promise is to serve the education
      community, be it Teachers, Schools or Students alike to the highest possible standards. If you are looking for a
      primary, secondary or special needs teaching position, be it short or long term, then give us the opportunity to
      help you move your teaching career in the right direction. You need look no further than Vision for Education for
      a professional, friendly service, provided by an experienced team for all your requirements. If you feel you have
      the qualities we are looking for, and would like to know more call the office today.
    </p>
  </div>
</div>
{% endblock %}