{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Secondary Supply Teachers </h1>
  <div class="data-article" id="data-content">
    <p>
      A Teachers is looking to recruit Teachers to start in London Schools. A Teachers is a specialised Teaching Agency
      placing Teachers in supply and permanent vacancies. We are an agency run by teachers for teachers so please give
      us a call today and find out why this makes a difference. These superb schools in the North/South of London are
      currently looking for fully qualified Teachers. A Teachers is therefore looking for fully qualified Teachers with
      good classroom management skills and a passion for making the subject interesting. If you can make your subject
      come alive for kids and inspire young minds then we really would love to hear from you NOW. All applicants must
      have; CRB check QTS is preferred and a recognised teaching qualification good recent references the right to live
      and work in the UK GTC registration A Teachers specialises in matching the right candidates to the RIGHT jobs so
      call Amanda now for an informal chat about this opportunity and many others. teacher supply qts pgce ba hons maths
      science ict music art business studies hummanities geography history english.
    </p>
  </div>
</div>
{% endblock %}