{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Teachers </h1>
  <div class="data-article">
    <p id="data-content">
      Engage Education is a rapidly expanding teaching agency soon to be based in Norwich. Urgently looking to bring on
      board new teachers to help with the demand we are currently experiencing from our schools in Norfolk and Suffolk
      and surroundings. Working in partnership with a number of Primary schools, there is an increasing demand for high
      quality, experienced teachers with strong class room management and the desire to work with a variety of schools
      in the area. This is a great opportunity for NQT s and OTT s who are looking to gain experience of the UK
      curriculum to gain valuable experience. The Ideal Candidate should demonstrate the following; A passion for
      teaching Be a strong team Player Have innovative teaching methods Be eligible to work in the UK Hold a teaching
      qualification Have strong Classroom management We are holding registrations NOW so please apply and I will speak
      to you very soon.
    </p>
  </div>
</div>
{% endblock %}